* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Reddit Mono", monospace;
}

li{
    list-style: none;
    font-size: 0.9rem;
}

.nf-debug {
    border: 1px solid red;
}

#app {
    background: linear-gradient(180deg, #009688 20%, #d8dbd5 20%);
    height: 100vh;
    width: 100%;
    padding: 20px 0;
}

img {
    border-radius: 50%;
    width: 50px;
}

i {
    color: gray;
}

.active{
    background-color: lightgray;
}

.left {
    width: 40%;
}

.notification {
    background-color: #8EDAFC;
    height: 70px;
}

.notification-text>small {
    color: gray;
    text-decoration: underline;
}

.bell {
    background-color: white;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.fa-bell-slash {
    color: #8EDAFC;
}

.searchbar {
    height: 50px;
    padding: 10px;
}

.contacts {
    height: calc(100% - 200px);
    overflow-y: auto;
}

.contact {
    border-bottom: 1px solid lightgray;
}

.contact-text>
small {
    color: gray;
}

.right {
    width: 60%;
}

.toolbar {
    height: 70px;
    background-color: #eaeaea;
}

.chat {
    height: calc(100% - 140px);
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
}

.message{
    /* border: 1px solid rgb(252, 252, 252); */
    width: 300px;
    padding: 5px 10px;
    border-radius: 18px;
    margin: 10px;
    overflow-wrap: break-word;
    position: relative;
}

.sent{
    border: 2px solid  #D5F9BA;
    background-color: #D5F9BA;
    margin-left: auto;
}

.received{
    border: 2px solid  #ffffff;
    background-color: white;
}

.dropdownMenu{
    position: absolute;
    padding: 5px;
    right: 10px;
    top: 40px;
    width: 150px;
    background-color: lightgray;
    border-radius: 8px;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px){
    .right{
        display: none;
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .container{
        width: 70%;
    }
}